{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe  {% endblock %}

{% block body %}

    <div class="wrapper bg-white">
        <div class="h2 text-center">Agence N°1 du web</div>
        <div class="h4 text-muted text-center pt-2">Entez vos informations</div>
        {% if exist %}
            <div class="alert alert-danger">
                Cet adresse email existe deja dans notre base de donnée. Identifiez vous <span><a
                            href="{{ path('account_login') }}">ici</a></span>
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-block text-center my-3">Enregistrer les modifications</button>
        {{ form_end(form) }}


    </div>
{% endblock %}
