
div.container
{
    margin-top: 20px;
}

div.ad-title
{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}
div.ad-title h1, div.ad-title p
{
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
div.carousel-caption
{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.avatar
{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.avatar-medium
{
    max-width: 64px;
    max-height: 64px;
}
.avatar-mini
{
    max-width: 28px;
    max-height: 28px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover
{
    color: crimson !important;
    text-decoration: line-through;
}
.datepicker td, .datepicker th .day
{
   font-weight: bold !important;
    color: #4dc247 !important;
}
.datepicker .datepicker-switch
{
    background: #ff8846;
}
/**
commentaire les étoiles
 */
.rating i
{
    color: goldenrod;
}

.rating_square {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px
}

.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px
}

.bar-5 {
    width: 70%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-4 {
    width: 30%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-3 {
    width: 20%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-2 {
    width: 10%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-1 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.vote {
    cursor: pointer
}