
.card {
    border: none;
    border-radius: 14px !important
}

.area1 {
    background-color: #b5b2f1;
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    padding-top: 83px !important
}

.image {
    top: -62px;
    position: relative
}

.image img {
    box-shadow: 5px 6px 6px 2px lightsteelblue;
}

.area2 {
    background-color: #fff;
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 14px !important
}

.name {
    font-size: 25px;
    font-weight: 650
}

.information {
    color: #9FA8DA;
    font-weight: 500;
    font-size: 16px
}

.list-icons {
    display: inline-flex;
    color: #C5CAE9
}

.list-icons li {
    list-style: none;
    padding: 12px;
    border-radius: 10px;
    width: 49px;
    margin-right: 10px
}

.list-icons li i {
    font-size: 10px;
    color: #fff
}

@media (max-width: 300px) {
    .list-icons {
        display: block
    }
}

.facebook {
    background: #3b5998
}

.instagram {
    background: #3f729b
}

.youtube {
    background: #ff0000
}

.whatsapp {
    background: #4dc247
}

.pinterest {
    background: #cb2027
}

.rounded-circle {
    border: 2px solid red;
}


/**
Detail User show.html.twig
 */


