
.middleTop {
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

.middle-heading {
    font-family: "font-bold", sans-serif;
    font-size: 14px;
    color: #fff;
    margin-left: 38px;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align: left;
}

.middle-content {
    font-size: 12px;
    list-style-type: none;
    text-align: center;
    max-width: 210px
}


.middleBottom {
    text-align: center;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0;

}

.middleBottomFooter {
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;

}

.underLineOnHover {
    color: #fff
}

.bottomfooter {

}

.copyright {
    color: #fff
}

.address {
    color: #fff
}