<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>symBNB - {% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/app.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/login.css">
    <link rel="stylesheet" href="/CSS/Author_card.css">
</head>


<body>
{% include 'shared/header.html.twig' %}


{% block body %}{% endblock %}

{% include 'shared/footer.html.twig' %}

{% block javascripts %}{% endblock %}
</body>
</html>
