{% extends 'base.html.twig' %}

{% block title %}
    Edition d'une annonce
{% endblock %}

{% form_theme  form "ad/_collection.html.twig" %}
{% block body %}

    <div class="container">
        <div class="wrapper bg-white">
            <div class="h2 text-center">Agence N°1 du web</div>
            <div class="h4 text-muted text-center pt-2">Modifier l'annonce {{ ad.title }}</div>

            {{ form_start(form) }}

            {{ form_widget(form) }}

        </div>

        <div class="container text-center mb-5 mt-0">
            <button type="submit" class="btn btn-warning">Modifié l'annonce</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $('#add-image').click(function () {
            // récupère le numéro des futurs champs qui vont être créés
            const index = +$('#widgets-counter').val();

            // récupère le prototype des entrées
            const tmpl = $('#ad_images').data('prototype').replace(/__name__/g, index);

            // injecte ce code au sein de la div
            $('#ad_images').append(tmpl);

            $('#widgets-counter').val(index + 1);

            //gère le bouton supprimer
            handleDeleteButtons();
        });

        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function () {
                const target = this.dataset.target;
                $(target).remove();
            });
        }

        function updateCounter() {
            const count = +$('#ad_images div.form-group').length;

            $('#widgets-counter').val(count);
        }

        updateCounter();

        handleDeleteButtons();

    </script>
{% endblock %}
