{% extends 'base.html.twig' %}

{% block title %}
    Edition d'une annonce
{% endblock %}

{% form_theme  form "ad/_collection.html.twig" %}
{% block body %}

    <div class="container">
        <div class="wrapper bg-white">
            <div class="h2 text-center">Agence N°1 du web</div>
            <div class="h4 text-muted text-center pt-2">Modifier l'annonce {{ ad.title }}</div>

            {{ form_start(form) }}

            {{ form_widget(form) }}




        </div>

        <div class="container text-center mb-5 mt-0">
            <button type="submit" class="btn btn-warning">Modifié l'annonce</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/JS/ad.js"></script>
{% endblock %}
