{% extends 'base.html.twig' %}

{% block title %}
    Créationd'une nouvelle annonce
{% endblock %}


{% form_theme  form "ad/_collection.html.twig" %}
{% block body %}


    <div class="container">
        <h1> Créer une nouvelle annonce</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer la nouvelle annonce</button>
        {{ form_end(form) }}

    </div>
{% endblock %}


{% block _ad_images_widget %}
    <p>Ici vous pouvez ajouter les images de vos annonces </p>
    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/JS/ad.js"></script>
{% endblock %}